.App {
  text-align: center;
}
.textfield, .submit {
  border: 1px solid black;
  border-radius: 3px;
}
form {
  margin-left: 40%;
  margin-top: 300px;
}
.App-link {
margin-left: 50px;
}
.title {
  font-size: 20px;
  font-weight: bold;
  color: red;
}
.submit{
  padding-left: 65px;
  padding-right: 65px;
  font-weight: bold;
  background-color: red;
  color: white;
}
.register{
  padding-left: 57px;
  padding-right: 57px;
  font-weight: bold;
  background-color: red;
  color: white;
}
.submit:hover, .register:hover{
  animation: lighter 0.75s forwards;
}
@keyframes lighter{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0.7;
  }
}
.agreement {
  font-size: 8px;
}